@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap');


body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #000000;
    overflow-x: hidden;
}

input:focus, button:focus {
    outline: none;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.no-padding {
    padding: 0;
}

footer {
    width: 100%;
    max-height: 50px;
    padding: 15px 0;
    background-color: #1C283F;
    color: #fff;
    position: absolute;
    bottom: 0;
}

header {
    width: 100%;
    max-height: 50px;
    padding: 15px 0;
    background-color: #1C283F;
    color: #fff;
}

header .menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-weight: 400;
    padding: 0 25px;
}

header .menu .logo {
    font-weight: 700;
    display: grid;
    grid-template-columns: 20px 200px;
}

header .menu .logo h1 {
    padding-left: 10px; 
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.main {
    padding: 19px 0;
}

/* BANNERS */
.banner {
    opacity: 0;
}

.top-banner {
    width: 100%;
    height: 200px;
    max-height: 200px;
    background-color: #C4C4C4;
    border-radius: 3px;
    padding: 0;
    margin-bottom: 19px;
    display: none;
}

.left-banner, .right-banner {
    height: 418px;
    max-height: 418px;
    background-color: #C4C4C4;
    border-radius: 3px;
    padding: 0;
}

/* curency */
.description {
    font-weight: 400;
    color: #707070;
}

/* calc-switcher */
.calc-side {
    display: flex;
}

.calc-switcher {
    display: flex;
    width: 100%;
    margin: 18px 0px 11px 0px;
}

.calc-switcher-item {
    padding: 11px 24px;
    text-transform: uppercase;
    text-align: center;
    border-top: 1px solid #8F8F8F;
    border-bottom: 1px solid #8F8F8F;
    border-right: 1px solid #8F8F8F;
}

.calc-switcher-item:first-child {
    border-radius: 5px 0 0 5px;
    border-left: 1px solid #8F8F8F;
}

.calc-switcher-item:last-child {
    border-radius: 0px 5px 5px 0px;
    width: 128px;
}

.calc-switcher-item.active {
    background: linear-gradient(45deg, #FF512F, #F09819);
    color: #fff;
}

.calc-switcher-item:hover {
    cursor: pointer;
}

.calc-switcher-item:hover::after { 
    content: attr(data-title); 
    position: absolute; /* Абсолютное позиционирование */
    top: -25px;
    margin-left: -80px;
    z-index: 1; /* Отображаем подсказку поверх других элементов */
    color: #666;
    background: #fff; /* Полупрозрачный цвет фона */
    font-size: 14px; /* Размер текста подсказки */
    padding: 7px 14px; /* Поля */
    border-radius: 3px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    text-transform: none;
}

/*------------------------
    Кнопки списка валют
------------------------*/
#from-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#to-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#from-select {
    display: none;
}

#to-select {
    display: none;
}

.value-field  {
    width: 100%;
    padding: 40px 30px;
    border: 1px solid #8F8F8F;
    border-radius: 5px;
    margin-bottom: 19px;
    font-size: 29px;
    font-weight: 700;
}

.value-field input {
    max-width: 100%;
    font-size: 29px;
    font-weight: 700;
    border: none;
}

.value-field p {
    font-size: 16px;
    font-weight: 300;
    color: #707070;
}

#value-convert {
    font-size: 29px;
    font-weight: 700;
}

/* replace button */
.replace-button {
    text-align: center;
}

.replace-button button {
    background: none;
    border: none;
    margin-top: 150px;
}

.replace-button button img, .replace-button button img:hover {
    transition: 0.3s;
}

.replace-button button img:hover {
    cursor: pointer;
    opacity: 0.7;
}

/*--------------------------------
    Полный список валют
--------------------------------*/
.all-curency-window {
    width: 90%;
    padding: 18px;
    position: absolute;
    background: #fff;
    top: 50%;
    left: 50%;
    margin-left: -648px;
    margin-top: -200px;
    border-radius: 5px;
    box-shadow: 0 0 5px #8F8F8F;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    display: none;
    z-index: 999;
}

.all-curency-window.active {
    display: grid;
}

.all-curency-window ul li {
    list-style: none;
}

.all-curency-window ul li button {
    background: none;
    border: none;
    padding: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}


.all-curency-window ul li button:hover {
    cursor: pointer;
}

.all-curency-window ul li button.active {
    background: linear-gradient(45deg, #FF512F, #F09819);
    color: #fff;
    border-radius: 5px;
}

.all-curency-window ul li span:first-child {
    font-weight: 300;
}

#overlay {
    display: none;
}

#overlay.active {
    width: 100%;
    height: 100%;
    background: #fff;
    position: absolute;
    display: block;
    opacity: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

/* Large desktops and laptops */
@media (min-width: 1200px) {

}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    html {
        overflow-x: hidden;
    }
    header .menu {
        padding: 0 10px;
    }
    header .menu p {
        display: none;
    }
    .calc-side {
        display: block;
        padding: 0px 20px;
    }
    .replace-button button {
        margin: 0;
    }
    .left-banner, .right-banner {
        display: none;
    }
    .calc-switcher-item {
        max-height: 46px;
    }
    .main {
        padding-bottom: 0;
    }
    .all-curency-window {
        grid-template-columns: repeat(1, 1fr);
        margin: 0px 5px;
        margin-top: 145px;
        width: 97%;
        top: 0%;
        left: 0%;
        overflow-y: scroll;
        max-height: 450px;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .value-field input {
        text-align: center;
    }
    .value-field p {
        text-align: center;
    }
    .first-curency .description, .second-curency .description {
        display: none;
    } 
    .description {
        padding: 20px;
    }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
    html {
        overflow-x: hidden;
    }
    header .menu {
        padding: 0 5px;
    }
    header .menu .logo {
        grid-template-columns: 20px 180px;
    }
    header .menu p {
        display: none;
    }
    .calc-side {
        display: block;
        padding: 0px 20px;
    }
    .replace-button button {
        margin: 0;
    }
    .left-banner, .right-banner {
        display: none;
    }
    .calc-switcher-item {
        max-height: 46px;
    }
    .main {
        padding-bottom: 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .value-field input {
        text-align: center;
    }
    .value-field p {
        text-align: center;
    }
    .first-curency.description, .second-curency.description {
        display: none;
    } 
    .description {
        padding: 20px;
    }
}

/* Iphone 5 */
@media (max-width: 320px) {
    html {
        overflow-x: hidden;
    }
    header .menu {
        padding: 0 5px;
    }
    header .menu p {
        display: none;
    }
    .calc-side {
        display: block;
        padding: 0px 20px;
    }
    .replace-button button {
        margin: 0;
    }
    .left-banner, .right-banner {
        display: none;
    }
    .calc-switcher-item {
        max-height: 46px;
    }
    .main {
        padding-bottom: 0;
    }
    ul {
        margin: 0;
        padding: 0;
    }
    .value-field input {
        text-align: center;
    }
    .value-field p {
        text-align: center;
    }
    .first-curency.description, .second-curency.description {
        display: none;
    } 
    .description {
        padding: 20px;
    }
}